<header>
    <nav>
        <div class="header">
            <ul class="header-list">
                <li style="float: left;"><a href="./index.html" class="header-button"><img src="./assets/img/logo.png" class="header-img"></img> MCPI.TK</a></li>
                <li><a href="./discord.html" class="header-button">Discord</a></li>
                <li><a href="./screenshots.html" class="header-button">Screenshots</a></li>
                <li><a href="./faq.html" class="header-button">FAQ</a></li>
                <li><a href="./servers.html" class="header-button">Servers</a></li>
                <li><a href="./mods.html" class="header-button">Mods</a></li>
                <li><a href="./index.html" class="header-button">Home</a></li>
            </ul>
        </div>
    </nav>        
</header>
