<header>
    <nav>
        <div class="header">
            <ul class="header-list">
                <li style="float: left;"><a href="{{ site.url }}/index.html" class="header-button"><img src="{{ site.url }}/assets/img/logo.png" class="header-img"></img> MCPI.TK</a></li>
                <li><a href="{{ site.url }}/discord.html" class="header-button">Discord</a></li>
                <li><a href="{{ site.url }}/screenshots.html" class="header-button">Screenshots</a></li>
                <li><a href="{{ site.url }}/faq.html" class="header-button">FAQ</a></li>
                <li><a href="{{ site.url }}/servers.html" class="header-button">Servers</a></li>
                <li><a href="{{ site.url }}/mods.html" class="header-button">Mods</a></li>
                <li><a href="{{ site.url }}/index.html" class="header-button">Home</a></li>
            </ul>
        </div>
    </nav>        
</header>
