<header>
    <nav>
        <div class="header" id="ushadow">
            <a href="./index.html" class="header-button align-left"><img src="./assets/img/logo.png" class="header-img"></img> MCPI.TK</a>
            <a href="https://discord.gg/DCwcpyf" class="header-button align-right">Discord</a>
            <a href="./screenshots.html" class="header-button align-right">Screenshots</a>
            <a href="./faq.html" class="header-button align-right">FAQ</a>
            <a href="./servers.html" class="header-button align-right">Servers</a>
            <a href="./mods.html" class="header-button align-right">Mods</a>
            <a href="./index.html" class="header-button align-right">Home</a>
        </div>
    </nav>        
</header>
